@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-variable: #ffffffe6;
    --color-button-red-variable: #e34e4e;
    --color-button-blue-variable: #1976d2;

    --bg-color-button-primary-variable: #474c50;
    --bg-color-button-red-variable: #E149771A;
    --bg-color-button-blue-variable: #d4e8fb;
  }
}