@mixin dark($bool) {
  @if ($bool) {
    @media (prefers-color-scheme: dark) {
      --color-primary: #ffffffe6;
      --color-button-red: #e34e4e;
      --color-button-blue: #1976d2;

      --bg-color-button-primary: #474c50;
      --bg-color-button-red: #E149771A;
      --bg-color-button-blue: #d4e8fb;
    }
  }
}
