:root {
  --color-primary: #2f3437;
  --color-button-red: #e34e4e;
  --color-button-blue: #1976d2;

  --bg-color-button-primary: #474c50;
  --bg-color-button-red: #E149771A;
  --bg-color-button-blue: #d4e8fb;

  // Variables
  --color-primary-variable: #2f3437;
  --color-button-red-variable: #e34e4e;
  --color-button-blue-variable: #1976d2;

  --bg-color-button-primary-variable: #474c50;
  --bg-color-button-red-variable: #E149771A;
  --bg-color-button-blue-variable: #d4e8fb;
}